/* 

----------container----------

*/
.container {
  width: 90%;
  margin: 0 auto;
  max-width: var(--width-content);
}
.container-s {
  width: 90%;
  margin: 0 auto;
  max-width: var(--width-content-s);
}
/* 

----------main----------

*/
.main {
  width: 100%;
  height: auto;
  margin: 60px auto 2rem;
  /* margin: calc(60px + 2rem) auto 2rem; */
}
.main_contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: stretch;
}
@media screen and (min-width: 768px) {
  .main {
    margin: 100px auto 2rem;
    /* margin: calc(100px + 2rem) auto 2rem; */
  }
}
/*

----------contents----------

*/
.contents {
  margin: 0 1rem;
}
/* 
-----contents_title-----
 */
.contents_title {
  text-align: center;
  margin-bottom: 2rem;
}
/*

----------personal----------

*/
.personal-name,
.personal-date,
.personal-check {
  margin: 1rem 0 0 1rem;
}
/*-----personal-data-box-----*/
.personal-data-box {
  width: 100%;
  background-color: var(--color-yellow);
  padding: 0 1rem;
  color: #fffffe;
}
/*-----personal-data-list-----*/
.personal-data-list {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-end;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .personal-data-list {
    max-width: 768px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
/*-----personal-list-item-----*/
.personal-list-item {
  background-color: #fffffe;
  border-color: var(--color-white);
  color: #333;
}
/*----------Footer---------- */

/*  
----------google icon----------

*/

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/* 

----------Login----------

*/
.signin_btn_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.signin_btn,
.top_btn {
  padding: 0 1rem;
  font-size: var(--font-size-large);
}

/* 

---------- top ----------

*/
.top {
  width: 100%;
  height: 100%;
}
.top_nav {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  background-color: #dba52ccc;
}
.top_nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.top_nav_item {
  width: 125px;
}
.top_nav_item:nth-child(2) {
  margin: 0 0.5rem;
}
/* 

----------top_img----------

*/

.top_bg {
  width: 100%;
  height: 100%;
  max-width: 1540px;
  max-height: 1027px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.top_bg_wrap {
  width: 100%;
  height: 100vh;
}
.top_img {
  object-fit: cover;
}
/* 
----------auth_btn/top_btn---------- 

*/

.top_btn {
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--color-black);
  font-size: x-large;
  border: 1px solid var(--color-white);
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--color-white);
  background: rgb(255 255 255 / 80%);
}

.top_btn:active {
  transform: translate(2px, 2px);
  color: var(--color-black);
  transition-duration: 0.2s;
  box-shadow: inset 4px 4px 0px 0px #33333340;
  background: var(--color-white);
}

/* 

---------------select ---------------
---------------delete ---------------


*/
/* 

-----select_list-----
-----.delete_list-----

*/
/* table表示 */
.select_list,
.delete_list {
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 2rem auto;
  padding: 0.5rem;
  border: 1px solid var(--color-yellow);
}
/* 

-----.select_list_box-----
-----.delete_list_box-----
-----.delete_data-----

*/
.select_list_box,
.delete_data {
  width: 100%;
  max-width: 767px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
@media screen and (min-width: 768px) {
  .select_list_box,
  .delete_list_box {
    max-width: 1000px;
  }
}

/*

-----select_item_*****-----
-----delete_item_*****-----

*/

.select_item_value,
.delete_item_value {
  width: 100%;
  text-align: center;
  border-top: 1px solid;
  line-height: 2;
}
.select_item_number {
  border: none;
}
.delete_item_number {
  width: 100%;
  text-align: center;
  line-height: 2;
}

.select_item_title,
.delete_item_title {
  font-size: var(--font-size-base);
  color: var(--color-yellow);
  border-top: 1px solid;
  line-height: 2;
}
.select_btn {
  width: 100%;
}
.select_btn_box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/*

-----select_item_aroma_table-----
-----delete_item_aroma_table-----

*/
.select_item_aroma_table,
.delete_item_aroma_table {
  margin: 0 auto;
  width: 100%;
}
.select_item_aroma_table_row,
.delete_item_aroma_table_row {
  line-height: 1em;
}
.select_item_aroma_header,
.delete_item_aroma_header {
  font-size: var(--font-size-small);
  color: var(--color-yellow);
  letter-spacing: -0.1em;
  font-weight: 600;
  text-align: center;
}
.select_aroma_value,
.delete_aroma_value {
  font-size: var(--font-size-small);
}

/* 

-----delete_popup-----

*/

.delete_popup {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-box-shadow);
}
.delete_box {
  width: 300px;
  height: 100px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  background: var(--color-yellow-80);
  border: 2px solid var(--color-yellow);
  transform: translateX(-50%);
}

/* grid-layout 1000px*/
@media screen and (min-width: 768px) {
}

/* 

----------edit----------
----------browse----------




*/

.browse_data {
  display: block;
}
.browse_contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .browse_contents {
    min-width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .browse_contents {
    max-width: 1000px;
  }
}
.browse_date {
  width: 100%;
}
.browse_item {
  width: 100%;
  font-size: var(--font-size-base);
}
.browse_item_box {
  width: 100%;
}
.browse_item_title {
  width: 100%;
  border-bottom: 2px dashed var(--color-yellow);
}
.browse_item_value {
  width: 100%;
  padding: 3rem 0;
}
.browse_item_memo {
  width: 100%;
}
.browse_yellow {
  color: var(--color-yellow);
  margin-top: 0;
}
.browse_item_message {
  width: 100%;
  height: 100%;
  min-height: 50px;
  max-height: 150px;
  background: var(--color-yellow-10);
}
.browse_aroma_table {
  width: 100%;
}
.browse_aroma_tableHeader {
  font-weight: 500;
  color: var(--color-yellow);
}
.browse_aroma_tableRow {
}
.browse_aroma_tableData {
}
.browse_totalValue {
  width: 100px;
  height: 100px;
  margin: 2rem auto;
  position: relative;
  border-radius: 50%;
  background: var(--color-yellow-10);
}
.browse_totalText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.browse_btn_box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/* -----edit_point----- */
.edit_point {
  position: relative;
  width: 100%;
  height: auto;
  top: 15px;
}
/* .active.edit_point {
  height: auto !important;
} */
.edit_point_btn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  border: 2px solid var(--color-yellow);
  border-radius: 50px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.edit_point_memo {
  display: none;
}
.edit_point_text {
}
.edit_point_txtBox {
  margin-top: 2rem;
}
.active > .edit_point_tail {
  display: none;
}

.active > .edit_point_btn {
  background: var(--color-white);
}

.edit_point_list {
  display: none;
}
.active > .edit_point_memo {
  width: 100%;
  max-width: 350px;
  height: auto;
  font-size: var(--font-size-small);
  color: var(--color-black);
  border: 2px solid var(--color-yellow);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  /* position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%); */
  background: var(--color-white);
  padding: 1rem;
  z-index: 0;
}

/* 

----------edit_number----------

*/
.edit_number {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: var(--z-index-popup);
  margin: 1rem;
  padding: 1rem;
  /* border: 2px solid var(--color-box-shadow); */
  border-radius: 10px;
  background: var(--color-yellow);
  color: var(--color-white);
  text-align: start;
}
.active.edit_number {
  width: auto;
  height: 80vh;
  overflow-y: scroll;
}
/* edit_number_list */
.edit_number_list {
  display: none;
}
.active > .edit_number_list {
  display: flex;
  align-items: flex-start;

  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;

  flex-direction: column;
}

.edit_number_item {
  width: auto;
}
/* edit_number_sup */
.edit_number_sup {
  margin: 1rem;
  color: var(--color-black);
  font-size: var(--font-size-small);
  font-weight: 600;
}
@media screen and (min-width: 1000px) {
  .edit_number_list {
    text-align: left;
  }
}

/* 

---------edit_toc---------

*/
.edit_toc {
  text-align: end;
}
.active > .edit_toc > .button .edit_toc_open {
  display: none;
}
.edit_toc_open {
  display: inline-block;
}

.active > .edit_toc > .button .edit_toc_close {
  display: inline-block;
}
.edit_toc_close {
  display: none;
}

/* -----edit_data-----

  
    */
.edit_contents {
  display: block;
}
.edit_list {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .edit_list,
  .browse_list {
    min-width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .edit_list,
  .browse_list {
    max-width: 1000px;
  }
}
.edit_item {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}
.edit_input_box {
  width: 100%;
  position: relative;
}
.edit_item_messageBox {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.edit_item_message {
  width: 100%;
}
.edit_input_date {
  /* position: absolute;
  top: 0;
  right: 0; */
}
.edit_input_name {
  width: 100%;
}

.edit_input_roast {
  width: 90%;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-linear-gradient-linear);
}
.edit_roast_value {
}

/* 

----------edit_item----------


*/

.edit_overall,
.browse_overall {
  justify-content: flex-start !important;
}
.edit_item_value {
  display: inline-block;
  /* width: 150px; */
  width: auto;
  margin: 0.5rem;
  /* margin: 0.5rem auto; */
  font-size: var(--font-size-small);
  text-align: center;
}
.edit_item_value_box {
  width: 100%;
  position: relative;
}
/* 
-----aroma-----
-edit_item_dry_box-
-edit_item_curst_box-
-edit_item_break_box-
*/
.edit_item.mouthfeel,
.edit_item.acidity,
.browse_item.mouthfeel,
.browse_item.acidity {
  justify-content: flex-start !important;
}

/* 
-----edit_item_title-----


*/
.edit_item_title {
  /* margin: 0.5rem 0 1rem 0; */
  border-bottom: 3px solid var(--color-yellow);
  font-size: var(--font-size-base);
}
/* edit_item_sub_title */
.edit_item_sub_title {
  font-size: var(--font-size-small);
}

/* edit_defects_calc */
.edit_defects_calc {
  width: 90%;
  margin: 0 auto;
  border: 2px solid var(--color-black);
  padding: 0 1rem 1rem;
}
/* edit_defects_answer */
.edit_defects_answer {
  width: 50px;
  height: auto;
  border: 1px solid;
  vertical-align: baseline;
}

/* edit_basic  */
.edit_basic {
  color: var(--color-black);
  border: none;
  text-align: center;
  font-size: xx-large;
  vertical-align: middle;
}
/* edit_result */
.edit_result {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
  padding: 1rem;
  color: var(--color-black);
  border-radius: 2%;
  border: 3px solid var(--color-yellow);
}

/* edit_total */
.edit_total_value {
  background: var(--color-yellow);

  margin: 1rem;
  padding: 1rem;
  color: var(--color-white);
  font-size: var(--font-size-X-large);
  font-weight: 900;
}
/* edit_input_answer */
.edit_input_answer {
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-yellow);
}
/* edit_sub_value */
.edit_sub_value {
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: x-large;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  text-align: center;
  margin: 0.5rem;
  background: var(--color-white);
}
/* -----.edit_btn_box----- */

.edit_btn_box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*
-----edit_submit-box-----
-----browse_return_btn_box-----
 */

.icon_btn,
.triangle_btn,
.text_btn {
  width: 48px;
  height: 48px;

  background: var(--color-white);
  border: 2px solid var(--color-yellow);
  border-radius: 50%;
  box-shadow: 2px 2px 3px var(--color-box-shadow);
}
.icon_btn:active,
.text_btn:active {
  transform: translate(2px, 2px);
  box-shadow: inset 3px 3px 3px var(--color-black);
  transition-duration: 0.2s;
  background: var(--color-yellow-80);
}
.text_btn {
  font-weight: bold;
}

.active .triangle_btn {
  background: var(--color-yellow);
}
.open_btn {
  width: 20px;
  height: auto;
  border-style: solid;
  border-color: var(--color-yellow) transparent transparent transparent;
  border-width: 25px 15px 0 15px;
}
.active .open_btn {
  opacity: 0;
  display: none;
}
.active .close_btn {
  opacity: 1;
  display: block;
}
.close_btn {
  width: 20px;
  height: auto;
  border-style: dashed;
  border-color: transparent transparent var(--color-white) transparent;
  border-width: 0px 15px 25px 15px;
  opacity: 0;
  display: none;
}

/* edit_error */
.edit_error {
  color: red;
}
/* 
grid-layout 768px
*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .edit_error {
    grid-area: 11/1/12/3;
  }
}
/* grid-layout 1000px*/
@media screen and (min-width: 1000px) {
  .edit_error {
    width: 100%;
    grid-area: 9/1/10/4;
    /* grid-area: 8/1/9/4; */
  }
}

.active.menu {
  display: block;
  list-style: none;
  padding: 0;
}
/* 
----------～grid-layout 767px----------
            -----browse-----
            -----delete-----
*/

/* browse_yellow_color */

.delete_yellow_color {
  color: var(--color-yellow);
}
/* -----error----- */
.error {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
.error_wrap {
  width: 100%;
  height: auto;
}
.error_text {
  width: 100%;
  font-family: var(--font-family-title);
  font-size: 128px;
  font-weight: bold;
  color: var(--color-yellow);
  line-height: 0.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error_subtext {
  font-size: var(--font-size-small);
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .error {
    height: calc(100vh - 100px);
  }
  .error_text {
    font-size: 300px;
  }
}
/* 
----------back_page/sign_out----------
 */
.back_page {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.signout_btn {
  padding: 0 1rem;
  font-size: var(--font-size-large);
}
@media screen and (min-width: 768px) {
  .back_page {
    height: calc(100vh - 60px);
  }
}
