/* .sign_page */
.sign_page {
  box-sizing: border-box;
}
.sign_card {
  box-sizing: inherit;
  display: flex;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  background-color: white;
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
  border: 1px solid transparent;
  width: 100%;
  margin: 0px auto;
  padding: 2rem 2rem 3rem;
}
.sign_titleText {
  font-family: var(--font-family-title);
  margin-bottom: 2rem;
  text-align: center;
}

.sign_form {
  box-sizing: inherit;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}
.sign_inputBox {
  margin-bottom: 2rem;
}
.sign_username {
}
.sign_email {
}
.sign_password {
}
.sign_label {
  box-sizing: inherit;
  margin-bottom: 0.25rem;
  margin-left: 0px;
}
.sign_input {
  box-sizing: inherit;
  margin: 0px;
  padding: 0.625rem 1rem;
  background-color: white;
  color: black;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;

  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 1.25;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.sign_submitBtnRow {
}
.sign_submitBtn {
  margin: 0px;
  padding: 1rem 1.25rem;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  background: var(--color-yellow);
  color: white;
  border-radius: 0.375rem;
  display: inline-flex;

  justify-content: center;

  align-items: center;

  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-size-small);
  letter-spacing: 0.5px;
  line-height: 1;

  min-height: 2.25rem;
  width: 100%;
}

.sign_Link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.sign_TextRow {
  font-size: var(--font-size-small);
}
.sign_Btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.sign_LinkText {
  color: rgb(16, 63, 239);
}
.sign_dividerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.sign_dividerLine {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #00000029;
  margin: 1rem 1rem 0;
}
.sign_dividerText {
  display: inline-block;
  width: auto;
  color: #000000a6;
}
.sign_socialButtons {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.sign_socialBtn {
  width: 50px;
  height: 50px;
  padding: 1rem;
  border: 1px solid #00000029;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .sign_page {
    margin: 50px auto;
    min-width: 500px;
  }
}
